In [2]:
using DataFrames, CSV

In [4]:
df = CSV.File("./data/anscombe.csv") |> DataFrame

11×8 DataFrame
 Row │ x1     x2     x3     x4     y1       y2       y3       y4
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58
   2 │     8      8      8      8     6.95     8.14     6.77     5.76
   3 │    13     13     13      8     7.58     8.74    12.74     7.71
   4 │     9      9      9      8     8.81     8.77     7.11     8.84
   5 │    11     11     11      8     8.33     9.26     7.81     8.47
   6 │    14     14     14      8     9.96     8.1      8.84     7.04
   7 │     6      6      6      8     7.24     6.13     6.08     5.25
   8 │     4      4      4     19     4.26     3.1      5.39    12.5
   9 │    12     12     12      8    10.84     9.13     8.15     5.56
  10 │     7      7      7      8     4.82     7.26     6.42     7.91
  11 │     5      5      5      8     5.68     4.74     5.73     6.89

In [5]:
df.x1

11-element Vector{Int64}:
 10
  8
 13
  9
 11
 14
  6
  4
 12
  7
  5

In [7]:
df."x1" # strange, but sometimes useful

11-element Vector{Int64}:
 10
  8
 13
  9
 11
 14
  6
  4
 12
  7
  5

In [9]:
df[1:4, :x1]

4-element Vector{Int64}:
 10
  8
 13
  9

In [10]:
select(df, r"x") # you can make in-place selection using the bang variant of select

11×4 DataFrame
 Row │ x1     x2     x3     x4
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │    10     10     10      8
   2 │     8      8      8      8
   3 │    13     13     13      8
   4 │     9      9      9      8
   5 │    11     11     11      8
   6 │    14     14     14      8
   7 │     6      6      6      8
   8 │     4      4      4     19
   9 │    12     12     12      8
  10 │     7      7      7      8
  11 │     5      5      5      8

In [11]:
df

11×8 DataFrame
 Row │ x1     x2     x3     x4     y1       y2       y3       y4
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58
   2 │     8      8      8      8     6.95     8.14     6.77     5.76
   3 │    13     13     13      8     7.58     8.74    12.74     7.71
   4 │     9      9      9      8     8.81     8.77     7.11     8.84
   5 │    11     11     11      8     8.33     9.26     7.81     8.47
   6 │    14     14     14      8     9.96     8.1      8.84     7.04
   7 │     6      6      6      8     7.24     6.13     6.08     5.25
   8 │     4      4      4     19     4.26     3.1      5.39    12.5
   9 │    12     12     12      8    10.84     9.13     8.15     5.56
  10 │     7      7      7      8     4.82     7.26     6.42     7.91
  11 │     5      5      5      8     5.68     4.74     5.73     6.89

## Descriptive study

In [12]:
describe(df)

8×7 DataFrame
 Row │ variable  mean     min   median   max    nmissing  eltype
     │ Symbol    Float64  Real  Float64  Real   Int64     DataType
─────┼─────────────────────────────────────────────────────────────
   1 │ x1        9.0      4        9.0   14            0  Int64
   2 │ x2        9.0      4        9.0   14            0  Int64
   3 │ x3        9.0      4        9.0   14            0  Int64
   4 │ x4        9.0      8        8.0   19            0  Int64
   5 │ y1        7.50091  4.26     7.58  10.84         0  Float64
   6 │ y2        7.50091  3.1      8.14   9.26         0  Float64
   7 │ y3        7.5      5.39     7.11  12.74         0  Float64
   8 │ y4        7.50091  5.25     7.04  12.5          0  Float64

In [14]:
describe(df, :mean, :std)

8×3 DataFrame
 Row │ variable  mean     std
     │ Symbol    Float64  Float64
─────┼────────────────────────────
   1 │ x1        9.0      3.31662
   2 │ x2        9.0      3.31662
   3 │ x3        9.0      3.31662
   4 │ x4        9.0      3.31662
   5 │ y1        7.50091  2.03157
   6 │ y2        7.50091  2.03166
   7 │ y3        7.5      2.03042
   8 │ y4        7.50091  2.03058

In [15]:
nrow(df), ncol(df)

(11, 8)

In [16]:
size(df)

(11, 8)

In [17]:
df.id = 1:nrow(df)

1:11

In [18]:
df

11×9 DataFrame
 Row │ x1     x2     x3     x4     y1       y2       y3       y4       id
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64  Int64
─────┼───────────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58      1
   2 │     8      8      8      8     6.95     8.14     6.77     5.76      2
   3 │    13     13     13      8     7.58     8.74    12.74     7.71      3
   4 │     9      9      9      8     8.81     8.77     7.11     8.84      4
   5 │    11     11     11      8     8.33     9.26     7.81     8.47      5
   6 │    14     14     14      8     9.96     8.1      8.84     7.04      6
   7 │     6      6      6      8     7.24     6.13     6.08     5.25      7
   8 │     4      4      4     19     4.26     3.1      5.39    12.5       8
   9 │    12     12     12      8    10.84     9.13     8.15     5.56      9
  10 │     7      7      7      8     4.82     7.26     6.42     7.91     10
  11 │     5      5      5      8     5.68     4.74     5.73     6.89     11

We want to find global minimum and maximum fo X and Y separately

In [19]:
extrema([[13,2,5,7] [2,4,5,6]])

(2, 13)

In [20]:
select(df, r"x")

11×4 DataFrame
 Row │ x1     x2     x3     x4
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │    10     10     10      8
   2 │     8      8      8      8
   3 │    13     13     13      8
   4 │     9      9      9      8
   5 │    11     11     11      8
   6 │    14     14     14      8
   7 │     6      6      6      8
   8 │     4      4      4     19
   9 │    12     12     12      8
  10 │     7      7      7      8
  11 │     5      5      5      8

In [21]:
Matrix(select(df, r"x"))

11×4 Matrix{Int64}:
 10  10  10   8
  8   8   8   8
 13  13  13   8
  9   9   9   8
 11  11  11   8
 14  14  14   8
  6   6   6   8
  4   4   4  19
 12  12  12   8
  7   7   7   8
  5   5   5   8

In [22]:
extrema(Matrix(select(df, r"x")))

(4, 19)

In [23]:
extrema(Matrix(select(df, r"x"))) .+ (-1, 1)

(3, 20)

In [24]:
using PyPlot, GLM

Error processing line 1 of /home/ronggolawe/anaconda3/lib/python3.8/site-packages/google_auth-1.35.0-py3.9-nspkg.pth:

  Traceback (most recent call last):
    File "/home/ronggolawe/anaconda3/lib/python3.8/site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 553, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored
Error processing line 1 of /home/ronggolawe/anaconda3/lib/python3.8/site-packages/protobuf-3.18.1-py3.8-nspkg.pth:

  Traceback (most recent call last):
    File "/home/ronggolawe/anaconda3/lib/python3.8/site.py", line 169, in addpackage
      exec(line)
    File "<string>", line 1, in <module>
    File "<frozen importlib._bootstrap>", line 553, in module_from_spec
  AttributeError: 'NoneType' object has no attribute 'loader'

Remainder of file ignored