In [2]:
using DataFrames, CSV

In [4]:
df = CSV.File("./data/anscombe.csv") |> DataFrame

11×8 DataFrame
 Row │ x1     x2     x3     x4     y1       y2       y3       y4
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58
   2 │     8      8      8      8     6.95     8.14     6.77     5.76
   3 │    13     13     13      8     7.58     8.74    12.74     7.71
   4 │     9      9      9      8     8.81     8.77     7.11     8.84
   5 │    11     11     11      8     8.33     9.26     7.81     8.47
   6 │    14     14     14      8     9.96     8.1      8.84     7.04
   7 │     6      6      6      8     7.24     6.13     6.08     5.25
   8 │     4      4      4     19     4.26     3.1      5.39    12.5
   9 │    12     12     12      8    10.84     9.13     8.15     5.56
  10 │     7      7      7      8     4.82     7.26     6.42     7.91
  11 │     5      5      5      8     5.68     4.74     5.73     6.89

In [5]:
df.x1

11-element Vector{Int64}:
 10
  8
 13
  9
 11
 14
  6
  4
 12
  7
  5

In [7]:
df."x1" # strange, but sometimes useful

11-element Vector{Int64}:
 10
  8
 13
  9
 11
 14
  6
  4
 12
  7
  5

In [9]:
df[1:4, :x1]

4-element Vector{Int64}:
 10
  8
 13
  9

In [10]:
select(df, r"x") # you can make in-place selection using the bang variant of select

11×4 DataFrame
 Row │ x1     x2     x3     x4
     │ Int64  Int64  Int64  Int64
─────┼────────────────────────────
   1 │    10     10     10      8
   2 │     8      8      8      8
   3 │    13     13     13      8
   4 │     9      9      9      8
   5 │    11     11     11      8
   6 │    14     14     14      8
   7 │     6      6      6      8
   8 │     4      4      4     19
   9 │    12     12     12      8
  10 │     7      7      7      8
  11 │     5      5      5      8

In [11]:
df

11×8 DataFrame
 Row │ x1     x2     x3     x4     y1       y2       y3       y4
     │ Int64  Int64  Int64  Int64  Float64  Float64  Float64  Float64
─────┼────────────────────────────────────────────────────────────────
   1 │    10     10     10      8     8.04     9.14     7.46     6.58
   2 │     8      8      8      8     6.95     8.14     6.77     5.76
   3 │    13     13     13      8     7.58     8.74    12.74     7.71
   4 │     9      9      9      8     8.81     8.77     7.11     8.84
   5 │    11     11     11      8     8.33     9.26     7.81     8.47
   6 │    14     14     14      8     9.96     8.1      8.84     7.04
   7 │     6      6      6      8     7.24     6.13     6.08     5.25
   8 │     4      4      4     19     4.26     3.1      5.39    12.5
   9 │    12     12     12      8    10.84     9.13     8.15     5.56
  10 │     7      7      7      8     4.82     7.26     6.42     7.91
  11 │     5      5      5      8     5.68     4.74     5.73     6.89

##